.image {
    width: 400px;
    height: 400px;
    ;
}

* {
    background-color: #232323;
    color: #FFF;
}

.container {
    background-color: #232323;
}

.secondContainer {
    display: block;
    justify-content: center;
}